*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.6;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    /* background-image: linear-gradient(144deg,#07010c, #201279 50%,#02085a); */
    background-color: #16096e;
}
.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline;
}
.logo a {
    text-decoration: none;
    color: rgb(226, 226, 226);
    font-family: 'Rowdies', cursive;
}
/*.logo a:hover{
    color: rgba(159, 62, 172, 0.562);
}*/
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.nav-links li {
    list-style: none;
    padding-top: 12px;
}
.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px ;
}
.nav-links a:hover{
    color: rgba(159, 62, 172, 0.562);
}
.nav-links li a.button{
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 8px 20px;
    margin-top: -8px;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 1s ease;
}
main {
    margin: 5% 3%;
    font-size: 1rem;
}
.promo{
    text-align: center;
    padding-bottom: 30px;
}
.promo h1 {
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 10px;
}
.promo .boton-main{
    text-decoration: none;
    background-color: #50a7f8;
    color: #FFFFFF;
    padding: 12px 20px;
    border-radius: 8px;
}
#enlace-prueba{
    text-decoration: none;
    color: #50a7f8;
}
.banner{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.b-img img{
    width: 90%;
    height: auto;
}
.b-text{
    display: grid;
    text-align: left;
}
.b-text h1{
    font-size: 1.6rem;
    font-weight:bold;
}
.b-ul{
    list-style: none;
}
.b-ul li{
    margin-top: 15px;
}
.b-ul li::before{
    content: '✓';
}
.valoraciones{
    background-color: #f4f4f5;
    width: 100%;
    height: 110vh;
    text-align: center;
}
.valoraciones h2{
    padding-top: 80px;
    font-size: 1.6rem;
}
.valoraciones p{
    padding-bottom: 50px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    color: #FFFFFF;
}
.card{
    width:250px;
    height:250px;
    background: rgba(0,0,0,0);
    margin: 20px 0px 0px 30px;
    border-radius: 20px;
}
  .front{
    width:250px;
    height:250px;
    background: #fff;
    margin: 0px;
    position:absolute;
    transition: all 1s ease;
    font-size:1rem;
    border-radius: 20px;
    border: 3px solid #50a7f8;
    flex-wrap: wrap;
    color: #1d1d1d;
  }
  .back{
    width:250px;
    height:250px;
    background: rgba(255, 255, 255, 0);
    margin: 0px;
    position:absolute;
    transition: all 1s ease;
    opacity: 0;
    border-radius: 20px;
    border: 3px solid #50a7f8;
  }
  .card:hover .front {
    transform: rotate3D(1, 1, 1, 360deg);
    background: rgba(20,180,80,0);
    font-size:0px;
  }
  .card:hover .back {
    background: #fff;
    transform: rotate3D(1, 1, 1, 360deg);
    font-size:1rem;
    color: #1d1d1d; 
    opacity: 1;
  }
  .front img{
      height:auto;
      width: 88%;
      object-fit: scale-down;
  }
  .front h2{
    height: 20px;
    top: -20px;
  }
  .estrellas{
      display: inline-block;
      color: #50a7f8;
  }
.footer{
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(144deg,#000000, #110750 50%,#240272);
    color: #dfdede;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}
.footer-col{
    text-align: center;
}
.footer-col > * {
    margin-top: 10px;
}
.footer-col h2{
    font-weight: bold;
    font-size: 1.2rem;
}
.footer-col ul{
    list-style: none;
    display: inline-flex;
}
.footer-col ul li a{
    color: #50a7f8 ;
    margin: 0 10px;
}
#submit{
    background-color: #50a7f8;
    color: #FFFFFF;
    padding: 12px 20px;
    border-radius: 8px;
    border: 0px;
    cursor: pointer;
}
/* -------------------------------- Login.html -------------------------------------------------------------------- */
.login{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    height: auto;
    align-items: flex-start;
    padding: 20px 0px;
}
.login #logo{
    display: inline-flex;
    align-self: start;
}
.login a, .login i{
    font-size: 2rem;
    padding: 0px 5px;
    color: #50a7f8;
    text-decoration: none;
    font-family: 'Rowdies', cursive;
}
form > *{
    margin: 10px 0;
}
form .row .label{
    width: 100%;
    color: #666666;
}
form .row .label a{
    font-size: 0.65rem;
    color: #50a7f8;
    margin-left: 90px;
}
form .row .input input{
    border-radius: 10px;
    background-color: #f5f3f3;
    border: none;
    height: 2.2rem;
    color: #dfdede;
}
input::placeholder{
    color: #969494;
    padding-left: 10px;
}
form .row .input input:focus {
    border: 1px solid #50a7f8;
    color: #292929;
    background-color: #FFFFFF;
}
form .row .input input:focus-visible{
    outline: none;
}
.submit input{
    background-color: #50a7f8;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 340%;
    height: 40px;
}
.row p{
    color: #969494;
    float: left; 
    margin-left: 110px;
    margin-top: 20px;
}
.row ul{
    list-style: none;
    display: inline-flex;
}
.row ul li{
    width: 100px;
    height: 45px;
    background: #fff;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    margin-left: 25px;
    position: relative;
}
.row ul li:hover{
    background-color: #e2e2e2;
}
.row ul li a i{
    text-align: center;
    padding-left: 25px;
    position: absolute;
    margin-top: -5px;
}
.texto-pequenyo{
    margin-left: 60px;
    font-size: 0.8rem;
    color: #969494;
}
.texto-pequenyo a{
    font-size: 0.7rem;
}
/* ----------------------------- Register.html  ------------------------------------------------------------------- */
.registro{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    height: auto;
    align-items: flex-start;
    padding: 20px 0px;
}
.registro #logo{
    display: inline-flex;
    align-self: start;
}
.registro a, .registro i{
    font-size: 1.8rem;
    padding: 0px 5px;
    color: #50a7f8;
    text-decoration: none;
    font-family: 'Rowdies', cursive;
}
.registro .submit input{
    background-color: #50a7f8;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    width: 165%;
    height: 40px;
}
.registro a#enlace{
    font-size: 0.8rem;
}
/* --------------------- servicios.html  ------------------------------------- */
.desc1{
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    text-align: center;
    align-items: center;
    margin-top: -20px;
    max-height: 100vh;
}
.desc1 h1{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0px;
}
.desc1 h1 em{
    text-decoration: none;
    color: #50a7f8;
    font-style: normal;
    font-size: 1.5rem;
}
.desc1 p#text-p{
    color: #292929;
    font-size: 0.95rem;
}
.ban-servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    align-items: center;
    margin-bottom: 50px;
}
.ban{
    text-align: start;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
}
.ban p{
    font-size: 0.9rem;
}
.ban i{
    color: #50a7f8;
    font-size: 2rem;
}
.promo-servicios{
    width: 80%;
    padding-top: 20vh;
    margin: auto;
}
.promo-servicios h1{
    font-size: 1.5rem;
    text-align: center;
}
.promo-servicios p{
    font-size: 1rem;
    color: #292929;
}
.grid-servicios{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
    min-height: 150vh;
    margin: auto;
    text-align: center;
    align-items: center;
    grid-column-gap: 30px;
}
.service{
    border: 1px solid #5B42F3;
    border-radius: 10%;
    box-shadow: 8px 16px 28px -10px rgba(91,66,243,0.72);
    min-width: 300px;
    min-height: 350px;
}
.service img{
    height: 35vh;
    width: auto;
}
.service h2{
    color: #50a7f8;
    font-size: 1.2rem;
}
.service:hover{
    box-shadow: 8px 16px 35px -5px rgba(91,66,243,0.72);
    border-width: 1.5px;
}
/* ------------------ precios.html --------------------------------------------- */
.banner-precio{
    min-height: 50vh;
    width: 80%;
    margin: auto;
    padding-top: 12vh;
    padding-bottom: 8vh;
}
.banner-precio h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5vh;
}
.banner-precio em{
    color: #50a7f8;
    font-size: 1.4rem;
    font-style: normal;
}
.banner-precio p{
    margin-bottom: 2vh;
    color: #1d1d1d;
}
.calculadora{
    border-radius: 50px;
    margin: auto;
    margin-bottom: 5vh;
    min-height: 80vh;
    width: 90%;
    max-width: 1200px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    display: grid;
    grid-template-rows: 1fr 4fr;
}
.calculadora h1{
    font-size: 1.6rem;
    color: #FFFFFF;
    margin: auto;
    text-align: center;
    padding-top: 4vh;
}
.calculadora .row2{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    text-align: center;
    font-weight: bold;
    color: #dfdede;
    padding-top: 5vh;
}
.derecha h2{
    font-size: 1.4rem;
}
.izquierda {
    margin: auto;
    width: 100%;
}
.rowcenter{
    margin: auto;
}
.row2 .izquierda > * input {
    width: 5vh;
    height: 5vh;
    cursor: pointer;
    margin-left: 5vh;
}
.row3{
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 40%;
    margin: auto;
}
.row3 label{
    text-align: end;
}
.izquierda p {
    font-size: 1.2rem;
    margin: auto;
}
/* ----------------------- Contacto.html -------------------------------------------------------------------- */
#main-contacto{
    width: 90%;
    display: grid;
    grid-template-rows:1fr 8fr;
    text-align: center;
}
#main-contacto h1{
    font-size: 2rem;
    font-weight: bold;
}
.form-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.form-container img{
    max-width: 400px;
}
.form-container form{
    display: flex;
    flex-direction: column;
}
textarea{
    resize: none;
}
.form-container form > *{
    border: 1px solid #5B42F3;
    border-radius: 30px;
    box-shadow: 12px 14px 14px -10px rgba(91,66,243,0.6);
    padding-left: 10px;
}
.form-container form p {
    border: none;
    box-shadow: none;
}
input[type=submit] {
    width: 160px;
    margin: auto;
    background-color: #50a7f8;
    border: none;
    box-shadow: none;
    color: white;
}

/* ---------------------------------------------------------------------------------------------------------- */
@media screen and (max-width:1200px) {
    .footer-col h2{
        font-size: 1rem;
    }
    #submit{
        padding: 8px 10px;
    }
}

@media screen and (max-width:1024px) {
    .nav-links{
        width: 80%;
    }
    .nav-links li a.button{
        font-size: 0.8rem;
        max-width: 60%;
    }
    .nav-links li a.button i {
        display: none;
    }
    .banner {
        height: auto;
        margin-top: 50px;
    }
}

@media  screen and (max-width:960px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #16096e;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
        padding: 30px;
    }
    .burger{
        display: block;
        margin-right: -80px;
    }
    .nav-links li a.button{
        margin-right: -30px;
        font-size: 0.65rem;
    }
    .nav-links li a.button i {
        display: block;
    }
    .footer{
        height: 40vh;
    }
    .card{
        width: 200px;
    }
    .front{
        width: 200px;
    }
    .back{
        width: 200px;
    }
    .banner{
        padding-bottom: 0px;
    }
    .desc1{
        grid-template-rows: 1fr 1fr 3fr 1fr;
        margin-top: -20px;
        max-height: 120vh;
    }
    .ban-servicios{
        padding-top: 10vh;
    }
    .ban{
        height: 300px;
    }
}

@media screen and (max-width:800px) {
    .card{
        width: 180px;
        height: 200px;
    }
    .front{
        width: 180px;
        height: 200px;
    }
    .back{
        width: 180px;
        height: 200px;
    }
    .front img{
        width: 80%;
    }
    .texto-pequenyo{
        margin-left: 0px;
    }
    .registro{
        width: 100%;
        padding: 0 20%;
    }
    .grid-servicios{
    max-width: 100%;
    }
    .promo-servicios{
        margin-top: 20vh;
    }
    .row3{
        width: 55%;
    }
    .login{
        margin-left: 25%;
    }
}

@media screen and (max-width:703px) {
    .row p{
        margin: 0px;
    }
    .grid-servicios{
        grid-column-gap: 15px;
    }
}
@media screen and (max-width:660px) {
    .grid-servicios{
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        max-width: 50%;
    }
    .ban p{
        font-size: 0.8rem;
    }
    .ban-servicios{
        min-height: 36  0px;
        margin-bottom: 30px;
    }
    .login{
        margin-left: 20%;
    }
}

@media screen and (max-width:610px) {
    .logo a{
        font-size: 1rem;
    }
    .nav-links{
        width: 45%;
    }
    .nav-links li {
        font-size: 0.8rem;
    }
    *{
        font-size: 0.9rem;
    }
    .cards{
    grid-template-columns: 1fr;
    padding-bottom: 20px;
    margin: 0 27%;
    }
    .valoraciones{
        height: auto;
    }
    .row ul{
        list-style: none;
        display: inline-flex;
    }
    .row ul li{
        width: 60px;
        height: 35px;
        background: #fff;
        border: 1px solid #9b9b9b;
        border-radius: 10px;
        margin-left: 25px;
        position: relative;
    }
    .row ul li:hover{
        background-color: #e2e2e2;
    }
    .row ul li a i{
        text-align: center;
        padding-left: 10px;
        position: absolute;
        margin-top: -5px;
    }
    .promo-servicios{
        margin-top: 0vh;
    }
    .grid-servicios{
        margin-top: 5vh;
    }
    .service{
        min-height: 300px;
    }
    .row3{
        width: 60%;
    }
}
@media screen and (max-width:500px) {
    .row3 label{
        font-size: 0.8rem;
    }
    .row3{
        width: 80%;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}